@using Kendo.Mvc.UI
@using StudentInternshipManagement.Models.Entities
@using StudentInternshipManagement.Services.ViewModel
@model StudentInternshipManagement.Services.ViewModel.GradeViewModel

@{
    ViewBag.Title = "Trang thống kê";
    ViewBag.Category = "Thống kê";
    ViewBag.Section = "Kết quả thực tập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Kendo
{
    @Styles.Render("~/Content/kendo/styles")
    @Scripts.Render("~/Scripts/kendo/scripts")
}

<div class="row">
    <div class="col-md-4">
        <label class="col-md-3 control-label no-padding-right" for="form-field-1"> Chọn học kỳ </label>

        <div class="col-md-9">
            @(Html.Kendo().DropDownListFor(m => m.SemesterId)
        .HtmlAttributes(new {style = "width: 70%"})
        .AutoBind(false)
        .OptionLabel("Chọn học kỳ...")
        .DataTextField("SemesterId")
        .DataValueField("SemesterId")
        .DataSource(dataSource =>
        {
            dataSource.Read(read => read.Action("GetAllSemesters", "Internship"))
                .ServerFiltering(true);
        })
        )
        </div>
        @Html.ValidationMessageFor(m => m.SemesterId, "", new { @class = "text-danger" })
    </div>
</div>

<div id="chartSection" class="row">
    <div id="barChartDiv" class="col-md-6">
        <div id="barChart"></div>
    </div>
    <div id="pieChartDiv" class="col-md-6">
        <div id="pieChart"></div>
    </div>
</div>




<script>
    var originalBarChart = $('#barChart').attr('style');
    var originalPieChart = $('#pieChart').attr('style');

    function createChart() {

        var pieChartData;
        var barChartData;

        //ajax lấy dữ liệu để tạo biểu đồ từ controller
        var semesterId = -1;
        var da = $.ajax({
            async: false,
            type: "Post", //phải để Post mới nhận được datarespone
            global: false,
            dataType: 'json',
            url: '@Url.Action("GetDataChart", "Statistic")',
            data: {
                'SemesterId': semesterId,
                  },
            success: function (dataResponse)
            {
                var result = dataResponse['status'];

                if (result == true) {
                    pieChartData = dataResponse['pieChartData'];
                    barChartData = dataResponse['barChartData'];
                    semesterId = dataResponse['semesterId'];

                    $("#pieChart").kendoChart({
                        title: {
                            position: "bottom",
                            text: "Biểu đồ điểm thi kì " + semesterId,
                        },
                        legend: {
                            visible: false
                        },
                        chartArea: {
                            background: ""
                        },
                        seriesDefaults: {
                            labels: {
                                visible: true,
                                background: "transparent",
                                template: "#= category #: \n #= value#%"
                            }
                        },
                        series: [{
                            type: "pie",
                            startAngle: 90,
                            data: pieChartData
                        }],
                        tooltip: {
                            visible: true,
                            format: "{0}%"
                        }
                    });


                    var barChartValue = barChartData.map(function (element) { return element.value; });
                    var barChartCategory = barChartData.map(function (element) { return element.category; });

                    $("#barChart").kendoChart({
                        title: {
                            position: "bottom",
                            text: "Biểu đồ điểm thi kì " + semesterId,
                        },
                        legend: {
                            visible: false
                        },
                        series: [
                            { data: barChartValue, axis: "bottom", color: "#27e3eb", }
                        ],
                        valueAxis: [
                            { pane: "bottom-pane", name: "bottom", max: 50, }
                        ],
                        panes: [
                            { name: "bottom-pane" }
                        ],
                        categoryAxis: [{
                            categories: barChartCategory,
                            pane: "bottom-pane",
                            labels: {
                                position: "start"
                            },
                        },],
                        tooltip: {
                            visible: true,
                            template: "Số lượng: #= value #"
                        }
                    });
                }
                else {
                    alert("Hiện tại học kỳ này chưa có dữ liệu. Xin hãy quay lại sau!<br>");
                }

            }
        });

    }

    $(document).ready(createChart());
    $(document).bind("kendo:skinChange", createChart());


    //Mỗi khi người dùng chọn một mã học kỳ nào đó thì sẽ kích hoạt event này
    $(document).ready(function () {
    // Bắt sự kiện change của dropdown
        $("#SemesterId").change(function () {

            // thực hiện xóa biểu đồ cũ và tạo lại 
            $("#barChart").remove();
            $("#pieChart").remove();
            $("#barChartDiv").empty();
            $("#pieChartDiv").empty();

            $("#barChartDiv").append('<div id="barChart"></div>');
            $("#pieChartDiv").append('<div id="pieChart"></div>');

            var semesterId = $(this).val();

            var da = $.ajax({
                async: false,
                type: "Post", //phải để Post mới nhận được datarespone
                global: false,
                dataType: 'json',
                url: '@Url.Action("GetDataChart", "Statistic")',
                data: {
                    'SemesterId': semesterId,
                      },
                success: function (dataResponse)
                {
                    var result = dataResponse['status'];

                    if (result == true) {
                        
                        pieChartData = dataResponse['pieChartData'];
                        barChartData = dataResponse['barChartData'];
                        semesterId = dataResponse['semesterId'];

                        $("#pieChart").kendoChart({
                            title: {
                                position: "bottom",
                                text: "Biểu đồ điểm thi kì " + semesterId,
                            },
                            legend: {
                                visible: false
                            },
                            chartArea: {
                                background: ""
                            },
                            seriesDefaults: {
                                labels: {
                                    visible: true,
                                    background: "transparent",
                                    template: "#= category #: \n #= value#%"
                                }
                            },
                            series: [{
                                type: "pie",
                                startAngle: 90,
                                data: pieChartData
                            }],
                            tooltip: {
                                visible: true,
                                format: "{0}%"
                            }
                        });


                        var barChartValue = barChartData.map(function (element) { return element.value; });
                        var barChartCategory = barChartData.map(function (element) { return element.category; });

                        $("#barChart").kendoChart({
                            title: {
                                position: "bottom",
                                text: "Biểu đồ điểm thi kì " + semesterId,
                            },
                            legend: {
                                visible: false
                            },
                            series: [
                                { data: barChartValue, axis: "bottom", color: "#27e3eb", }
                            ],
                            valueAxis: [
                                { pane: "bottom-pane", name: "bottom", max: 50, }
                            ],
                            panes: [
                                { name: "bottom-pane" }
                            ],
                            categoryAxis: [{
                                categories: barChartCategory,
                                pane: "bottom-pane",
                                labels: {
                                    position: "start"
                                },
                            },],
                            tooltip: {
                                visible: true,
                                template: "Số lượng: #= value #"
                            }
                        });
                    }
                    else {
                        alert("Hiện tại học kỳ này chưa có dữ liệu. Xin hãy quay lại sau!");
                    }

                }
            });
         });

});

</script>


