@using StudentInternshipManagement.Web.Controllers
@model List<StudentInternshipManagement.Models.Entities.News>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Homepage - Trang quản lý thực tập";
    string message = ViewBag.Message ?? string.Empty;
}
@{
    string role = string.Empty;
    if (Request.IsAuthenticated)
    {
        var controller = new BaseController();
        string username = controller.CurrentUser.UserName;
        role = controller.CurrentRole;
    }
}

@section Kendo {
    @Styles.Render("~/Content/kendo/styles")
    @Scripts.Render("~/Scripts/kendo/scripts")
}

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
        </ul><!-- /.breadcrumb -->


    </div>

    <div class="page-content">
        <div class="container">
            <div class="page-header">
                <h1 id="newslist-header">
                    Tin tức - Thông báo
                </h1>
            </div>
            <div class="row">
                <div id="news-list">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                        <li class="active">
                            <a data-toggle="tab" href="#home" aria-expanded="true">Home</a>
                        </li>

                        <li class="" style='display: @(role.Equals("Student") ? "inline-block" : "none")'>
                            <a href="/Student/Profile" aria-expanded="false">Sinh viên</a>
                        </li>

                        <li class="" style='display: @(role.Equals("Teacher") ? "inline-block" : "none")'>
                            <a href="/Teacher/Profile" aria-expanded="false">Giảng viên</a>
                        </li>

                        <li class="" style='display: @(role.Equals("Admin") ? "inline-block" : "none")'>
                            <a href="/Admin/Profile" aria-expanded="false">Giáo vụ</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane active">
                            @*{ Html.RenderAction("Index", "News", new { areas = "" }); }*@
                            @foreach (var news in Model)
                            {
                                <div class="g-grid">

                                    <div class="g-block">
                                        <div class="g-content">
                                            <div class="g-array-item">

                                                <div class="g-array-item-title">
                                                    <h3 class="g-item-title">
                                                        <a href="#">
                                                            @news.Title
                                                        </a>
                                                    </h3>
                                                </div>

                                                <div class="g-array-item-details">
                                                    <span class="g-array-item-date">
                                                        <i class="far fa-clock" aria-hidden="true"></i>@news.Time.ToString("dddd, MMMM d, yyyy")
                                                    </span>

                                                    <span class="g-array-item-hits">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>  1453
                                                    </span>
                                                </div>

                                                <div class="g-array-item-text">
                                                    @news.Content
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.page-content -->

    @(Html.Kendo().Dialog()
          .Name("messageDialog")
          .Title("Notification")
          .Content(message)
          .Width(400)
          .Modal(true)
          .Visible(!string.IsNullOrEmpty(message))
          .Actions(actions => { actions.Add().Text("OK"); })
          )
</div>